<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889305203968-rkiffk0p7fld1fmphplbfdmj2krqu7dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889305203968-rkiffk0p7fld1fmphplbfdmj2krqu7dp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>889305203968-0on4abp79816b58b4bvk1972lvfp5hrj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB--mKyB70H2_LZkrfA3Ky-zClvcaR6Vp8</string>
	<key>GCM_SENDER_ID</key>
	<string>889305203968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sifat.dev.sifataudio.sifatAudio</string>
	<key>PROJECT_ID</key>
	<string>sifat-music</string>
	<key>STORAGE_BUCKET</key>
	<string>sifat-music.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889305203968:ios:034b330e731fb4895c5fe5</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889305203968-rkiffk0p7fld1fmphplbfdmj2krqu7dp</string>
</dict>
</plist>
